/*ASSIGNMENT 2 - CREATE WEBPAGE FROM MOCKUP*/

/*CLIENT COLOURS & FONTS
Background: #e6e6e6;
Header and Footer Black: #1b1b1b
Navigation bar/sidebar/Overview box: white
Accent blue: #5e9cae

FONT-FAMILY is Helvetica, Arial, sans-serif;

Width for main container should be 1000px.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    border: 4px solid black;
}

.heading, 
footer{
    background-color: #1b1b1b;
}

.heading{
    display: flex;
    align-items: center;
}

.logo{
    flex: 1;
    margin-left: 50px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 80px;
}
.navbar{
    background-color: white;
}
.navbar ul{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 50px;
    
}

.navbar ul li{
    list-style: none;
    padding: 5px 0;
    margin: 10px;
    
}

.navbar ul li a{
    color: black;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    
}

.navbar ul li a:hover{
    background-color: #5e9cae;
    color: #fff;
}

main {
    width: 1000px;
    display: grid;
    margin: 0 auto;
    grid-template-areas: 
        "iabc-banner sidebar"
        "overview overview"
        "icm-banner icm-banner";
    grid-template-rows: 380px 240px 110px; 
    grid-template-columns: 2fr 1fr; 
    gap: 20px 30px;
}

.iabc-banner{
    grid-area: iabc-banner;
    
}

figure img{
    width: auto;
    height: 380px;
}

.sidebar{
    grid-area: sidebar;
    background-color: white;
    
}

.sidebar ul li{
    list-style: none;
    margin: 1.5em 1em 1.5em 40px;
    width: 205px;
    font-size: 1em;
}

.overview {
    grid-area: overview;
    background-color: white;
}
.overview p,
.overview h4{
    margin: 20px;
}

.icm-banner {
    grid-area: icm-banner;
    margin: 0 auto;
}

h3{
    background-color: #5e9cae;
    padding: 10px;
    margin: 0;
    color: #fff;
    padding-left: 15px;
}
footer{
    padding: 30px;
}

footer p{
    line-height: 2;
    color: white;
    margin-top: 10px;
    margin-left: 40px;

}

footer address{
    color: #fff;
    margin-left: 40px;
    font-style: normal;
    line-height: 2;
}